.sidemenu {
  list-style-type: none;
  font-size: 1.2em;
}

.sidemenu li {
  padding-top: .5em;
  padding-bottom: .5em;
}

.sidemenu span.fa {
  padding-right: .5em;
}

/* this seems super-redundant, but is necessary */
card a:first-of-type {
  line-height: 1em;
}
div.notices {
  margin: 2rem 0;
  position: relative; }

div.notices p {
  padding: 4px;
  display: block;
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }
